<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<link rel="stylesheet" href="test.css">
<body>
        {% include 'header.html' %}
        {% load bootstrap4 %}
        {% csrf_token %}
        {{ form }}
        <hr>
        <!--
            .container {
  font-family: arial;
  font-size: 24px;
  margin: 25px;
  width: 350px;
  height: 200px;
  outline: dashed 1px black;
  /* 자식 요소(.child)를 중앙 정렬하기 */
  display: flex;
  justify-content: center;
}

.child {
  width: 50px;
  height: 50px;
  background-color: red;
}
        -->
        <section style="width: 600px; justify-content: center; margin: 0 auto;">
        <section id="Section" class='oldApp'>
            <form id="frmReg" name="frmReg" method="post" target="hideFrame" action="">
            <input type="hidden" id="realchkyn" value="Y" />
            <input type="hidden" id="usertype" name="usertype" value="P" />
            <input type="hidden" id="birthdt" name="birthdt" value="19990714" />
            <input type="hidden" id="nicknm" name="nicknm" value="" />
            <input type="hidden" id="htelhash" name="htelhash" value="ac5f7d91d8b8ebafb2409bdf577abd88f51017c6a94e5eee30759c069a189862" />
            <input type="hidden" id="htelcertyn" name="htelcertyn" value="N" />
            <input type="hidden" id="email_old" name="email_old" value="qudwns8616@gmail.com" />
            <input type="hidden" id="orguserid" name="orguserid" value="s_4659133" />
            <input type="hidden" id="gourl" name="gourl" value="" />
            <input type="hidden" id="TwofactorYN" name="TwofactorYN" value="N" />
            <input type="hidden" id="referer2FactorYN" name="referer2FactorYN" value="N" />
            <input type="hidden" id="snsIdChangeYN" name="snsIdChangeYN" value="N" />
            <article id="Contents" class="changePerson memberChange">
                <h1 class="header_logo">회원정보 수정</h1>                
                <div class="sign-tab">
                    <a href="" class="sign-tab__item sign-tab__item--active">개인정보수정</a>
                    
                </div>
                <div class="sign-tab__content sign-tab__content-active user-info">
                            <div id="idandpassword" class="sign-section__topwrap">
                                <section class="sign-section">
                                    <div class="input-box-wrap">
                                        <div class="input-box id">
                                            <input type="text" id="userid" name="userid" class="has-label" value="" maxlength="15" />
                                            <label for="userid" class="fixed-label">아이디</label>
                                        </div>
                                    </div>
                                    <div class="valid-text">
                                        <p id="msg_userid" class="msg"></p>
                                    </div>
                                </section>
                                <div class="sign__cert-info sign__cert-info--bottom">
                                    <span class="sign__cert-info__text"><em>알바천국 아이디</em>를 입력해주세요.<span>
                                </div>
                                <section class="sign-section passwd">
                                    <ul class="input-box-wrap">
                                        <li class="input-box">
                                            <input type="password" id="passwd" name="passwd" class="has-label" value="" required autocomplete="new-password" />
                                            <label for="passwd">비밀번호 <span>8~16자 영문,숫자,특수문자 조합</span></label>
                                            <button type="button" id="changePasswdType" class="password-view-btn" onclick="MemberCommonCLS.togglePwdInputView(this)">표시</button>
                                        </li>
                                        <li class="input-box">
                                            <input type="password" id="passwd2" name="passwd2" class="has-label" value="" maxlength="16" required autocomplete="new-password" />
                                            <label for="passwd2">비밀번호 재입력</label>
                                        </li>
                                    </ul>
                                    <div class="valid-text">
                                        <p id="msg_passwd" class="msg"></p>
                                        <p id="msg_passwd2" class="msg"></p>
                                    </div>
                                </section>
                            </div>
                        <section class="sign-section name">
                            <ul class="input-box-wrap">
                                <li class="input-box hide-last-child">
                                    <input type="email" id="email" class="has-label" name="email" value="" maxlength="50" autocomplete="off" />
                                    <label class="fixed-label" for="email">이름</label>
                                </li>
                            </ul>
                        </section>
                    <section class="sign-section birth">
                        <ul class="input-box-wrap">
                            <li class="input-box hide-last-child">
                                <input type="email" id="email" class="has-label" name="email" value="" maxlength="50" autocomplete="off" />
                                <label class="fixed-label" for="email">닉네임</label>
                            </li>
                        </ul>
                        <div class="select-gender gender">
                            <input type="radio" id="male" name="gender" value="M" onclick='return(true);' /><label for="male">남</label>
                            <input type="radio" id="female" name="gender" value="F" onclick='return(true);' /><label for="female">여</label>
                        </div>
                    </section>
        
                    <section class="sign-section email">
                        <ul class="input-box-wrap">
                            <li class="input-box hide-last-child">
                                <input type="email" id="email" class="has-label" name="email" value="" maxlength="50" autocomplete="off" />
                                <label class="fixed-label" for="email">이메일</label>
                                <button type="button" id="btnEmailChange" class="box-in-button">이메일변경</button>
                                <button type="button" id="btnEmailCert" style="display:none" class="box-in-button change-last-button" onclick="setTimeout(function(e){MemberCommonCLS.certEmail();},300);">인증메일 전송</button>
                                <button type="button" id="btnEmailCertResend" style="display:none" class="box-in-button change-last-button" onclick="setTimeout(function(e){MemberCommonCLS.certEmail();},300);">재전송</button>
                            </li>
                            <li id="EmailCertNumInput" class="input-box" style="display:none">
                                <input type="hidden" id="emailcertsendyn" value="Y" />
                                <input type="hidden" id="emailcertyn" value="Y" />
                                <input type="hidden" id="emailcertencnum" value="" />
                                <input type="tel" id="emailcertnum" class="has-label" value="" maxlength="6" />
                                <label for="emailcertnum" class="">인증번호</label>
                                <button type="button" class="box-in-button" onclick="MemberCommonCLS.doSubmitEmailCertNum();return false;">확인</button>
                            </li>
                        </ul>
                        <ul class="email-auto__list"></ul>
                        <div class="valid-text">
                            <p id="msg_email" class="memo"></p>
                            <p class="memo" id="CertGbnFailureSend" style="display:none">
                                <em>인증메일 전송 버튼을 눌러주세요.</em>
                            </p>
                            <p class="memo" id="CertGbnFailureContent" style="display:none">
                                <em>인증번호가 틀렸습니다. 다시 입력해 주세요.</em>
                            </p>
                            <p class="memo" id="CertGbnEmptyContent" style="display:none">
                                <em>인증번호를 입력해 주세요.</em>
                            </p>
                        </div>
                    </section>
                    <section class="sign-section mobile">
                        <ul class="input-box-wrap">
                            <li class="input-box hide-last-child">
                                <input type="hidden" id="htel1" name="htel1" value="010" />
                                <input type="hidden" id="htel2" name="htel2" value="8527" />
                                <input type="hidden" id="htel3" name="htel3" value="8616" />
                                <input type="tel" id="htel" class="has-label" name="htel" value="" maxlength="11" />
                                <label for="htel">휴대폰 (- 제외 번호 입력)</label>
                                    <div class="action">
                                        <span id="htelcertYES" class="authentication-mark" style="display:none">번호확인</span>
                                    </div>
                                <button type="button" class="box-in-button change-last-button certBtn" onclick="MemberCommonCLS.certMobile('s_4659133', 'P');">인증번호전송</button>
                            </li>
                            <li id="MobileCertNumInput" class="input-box" style="display:none">
                                <input type="tel" id="mobilecertnum" class="has-label" value="" maxlength="6" />
                                <label for="mobilecertnum" class="">인증번호</label>
                                <button type="button" class="box-in-button" onclick="MemberCommonCLS.doSubmitCertNum('member');">확인</button>
                            </li>
                        </ul>
                        <input type="hidden" id="openhtel" value="" />
                        <div class="valid-text">
                            <span id="msg_htel" class="msg"></span>
                        </div>
                    </section>
                    <section class="sign-section">
                        <ul class="input-box-wrap">
                            <li class="input-box">
                                <input type="text" id="zipcd" name="zipcd" class="has-label" value="" maxlength="7" readonly="readonly" onblur="MemberCommonCLS.checkZipCd()" /></span>
                                <label for="zipcd" class="">우편번호</label>
                                <button type="button" id="addrSearch" class="box-in-button">주소찾기</button>
                            </li>
                            <li class="input-box">
                                <input type="text" id="addr1" name="addr1" class="has-label" value="" readonly="readonly" />
                                <label for="addr1" class="">주소</label>
                            </li>
                            <li class="input-box">
                                <input type="text" id="addr2" name="addr2" class="has-label" value="" maxlength="50" />
                                <label for="addr2" class="">상세 주소</label>
                            </li>
                        </ul>
                        <div id="addrResult" class="formLayer">
                            <div class="filter"></div>
                            <div class="layer over" id="addrResultLayer"><a href="#addrResult" class="closeBtn">닫기</a></div>
                        </div>
                        <div class="valid-text">
                            <p id="msg_zipcd" class="msg"></p>
                            <p id="msg_addr1" class="msg"></p>
                            <p id="msg_addr2" class="msg"></p>
                        </div>
                    </section>
                </div>
                <div class="btnAction">
                    <a href="#" class="btn btnType1 submit" onclick="UserInfoChangePCLS.doSubmit(); return false;">수정완료</a>
                </div>
            </article>
            </form>
        </section>
    </section>
        <hr>
        {% include 'footer.html' %}
</body>
</html>